@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');

.home-content {
    padding-top: 120px;
    padding-left: 120px;
    font-family: 'Red Hat Display', sans-serif;
}

.home-title {
    color: #062847;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.02em;
    margin-bottom: 24px;
}

.home-text {
    color: #5A6774;
    width: 612px;
    font-size: 20px;
    line-height: 36px;        
}

.home-text-blue {
    color: #1890FF;    
}