.search-profile {
    background: #E6F7FF;
    border-radius: 16px;
    margin: 55px 95px 0 95px;
    padding: 66px 94px 42px 94px;
}

.search-title {
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #262626;
    margin-bottom: 12px;
}